body {
    font-size:12px;

}

.heading{
    margin:5px 0px 5px 0px;
    width:100%;
    font-size:16px;
    padding:4px 0px 4px 0px;
    color:white;
    text-align:center;
    background-color:#3A92C8;
}
.grid_container{
    margin-left:5px;
    float:left;
    padding:5px;
    display:inline-block;
    width:27%;
    min-width:305px;
    height:590px;
    

}
.grid_list{
    padding:3px;
    margin:3px;
    height:35px;
    overflow:hidden;
    cursor:pointer;
    border-radius:5px;
    background: url('../img/right arrow2.png') no-repeat center left;
    background-size:30px 40px;
    transition:background-position-x ease-in-out 0.3s;
}

.serial{
    background-color:#1a85ad;
    border-radius:5px;
    display:inline-block;
    float:left;
    text-align:center;
    min-width:20px;
    padding:6px 4px 6px 4px ;
    color:white;
    margin:3px 8px 0px 3px ;
    /*border:1px solid white;*/
}
.detail{
    padding:2px;
    display:inline-block;
    float:left;
    width:80%;
    
    color:black;
}
b{
    color:#2196F3;
    
}
.srch{
    width:85%;
    height:30px;
    color:black;
    display:inline-block;
    border-radius:5px;
    /*margin:5px;*/
     border:1px solid #9cd159;
     background-color:rgba(255,255,255, 0.6);
}
.srchbox{
    width:65%;
    height:90%;
    background:none;
    border:none;
    margin-left:5px;
}

.btn1{
    width: 150px;
    padding:5px;
    margin:5px 0px 0px 25px;
    border:none;
    font-size:13px;
    background-color:#3A92C8;
    border-radius:5px;
    color:white;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.btn1:active
{
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(3px);
}

.grid_list:hover {
   box-shadow: 0px 3px 100px  #bac7ca inset;
}


/* scroll bar color*/
div::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-color:#2381e9;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:red;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.txt{
    width:160px;
    padding:3px;
    border:none;
    background:none;
    height:25px;
    border-bottom:1px solid #2a3539;
}
.txt_short{
    width: 64px;
    padding:3px;
    border:none;
    background:none;
    border-bottom:1px solid #2a3539;
}
.txt:focus{
    outline: 0;
    border-bottom: 1px solid #0294a5;
    box-shadow: 0 1px 0 0 #0294a5;
}
.txt_short:focus {
    outline: 0;
    border-bottom: 1px solid #0294a5;
    box-shadow: 0 1px 0 0 #0294a5;
}
.cmb{
    width:160px;
    padding:3px;
    border:none;
    background:none;
    height:25px;
    border-bottom:1px solid #2a3539;
}
.cmb:focus{
    outline: 0;
    border-bottom: 1px solid #0294a5;
    box-shadow: 0 1px 0 0 #0294a5;
}

.cmb_short{
     width:74px;
    padding:3px;
    background:none;
    border:none;
    background-color:#2a3539;
    border-bottom:1px solid gray;
}
.cmb_short:focus {
    outline: 0;
    
    border-color:#0294a5;
}


/*Employer form begin*/

.employer_form{
    /*margin:5px;*/
    /*padding:5px;*/
    float:left;
    display:inline-block;
    width: 71%;
    height:610px;
    margin-left:5px;
}

.gen_info {
    width:100%;
    padding:5px;
    float:left;
    display:inline-block;
    color:black;
    margin:0 auto;
}
.c_details{
    
    width:100%;
    float:left;
    display:inline-block;
    padding:5px;
    color:black;
    margin:0 auto;
}

.tbl_emp{
    margin-left:30px;
    float:inherit;
}

.mon_table td{
    padding:1px 0px 1px 0px;
    color:black;
    text-align:center;
    border:1px solid gray;
}
.mon_table thead td{
    background-color:#3A92C8;
    color:white;
}
.chk_move{
    margin:0px 0px 0px 100px;
}
.gen_info td{
   height:20px;
   /*min-width:140px;*/
}

/*Employer form end*/

/*plan form styles*/
.planinfo{
    float:left;
    display:inline-block;
    width: 71%;
    height:610px;
    margin-left:5px;
}
.plan_header{ 
    width:100%;
    height:200px;
    padding:10px 0px 10px 0px;
    background-color:rgba(255,255,255, 0.6);
}
.plan_detail{
    margin:10px 0px 0px 0px;
    width:100%;
    height:100px;
    background-color:rgba(255,255,255, 0.6);
}
.plan_table{
     width:100%;
     padding-top:10px;
     height:177px;
     margin:10px 0px 0px 0px;
     border:1px solid gray;
     overflow-y:auto;
     background-color:rgba(255,255,255, 0.6);
}


.imgbtnplus{
    width:15px;
    height:15px;
    margin-top:8px;
    border:none;
    background:none;
    background-image:url('../icons/plus.png');
    background-repeat:no-repeat;
    background-size:15px;
    /*background-color:rgba(255,255,255, 0.6);*/
}
.imgbtnminus{
    width:15px;
    height:15px;
    margin-top:8px;
    border:none;
    background:none;
    background-image:url('../icons/minus.png');
    background-repeat:no-repeat;
    background-size:15px;
    /*background-color:rgba(255,255,255, 0.6);*/
}


/*Employee form begining*/
.employee_form{
    float:left;
    display:inline-block;
    width: 71%;
    height:610px;
    margin-left:5px;

}
.employee_info1
{
    width:100%;
    float:left;
    padding:1px 0px 10px 0px;
    display:inline-block;
    height:100px;
    background-color:rgba(255,255,255, 0.6);
}

.employee_info2
{
    width:99%;
    float:left;
    display: inline-block;
}
.employee_info3
{
    width:100%;
    float:left;
    margin:10px 0px 0px 0px;
    display:inline-block;
    height:168px;
    text-align:center;
}
.employee_info4 {
    width: 99%;
    float: left;
    padding-top:3px;
    display: inline-block;
}
/*Employee form end*/

/*Validation ajax begin*/

.ajax__validatorcallout .ajax__validatorcallout_icon_cell img
{
     display: none;
}
.ajax__validatorcallout .ajax__validatorcallout_icon_cell
{
     height: 20px;
}

/*Validation ajax end*/

