body {
    font-size:12px;
}

.heading{
    margin:5px;
    width:98%;
    font-size:15px;
    padding:5px;
    color:white;
    text-align:center;
    background-color:#0294a5;
}
.grid_container{
    margin:5px;
    float:left;
    padding:5px;
    display:inline-block;
    width:20%;
    min-width:300px;
    height:540px;

}
.employer_list{
    border-bottom:1px solid #2381e9;
    padding:5px;
    margin:5px;
    height:35px;
    color:black; 
    overflow:hidden;
    cursor:pointer;
}
.serial{
    background-color:#0294a5;
    border-radius:5px;
    display:inline-block;
    float:left;
    text-align:center;
    min-width:20px;
    padding:7px 5px 7px 5px ;
    color:white;
    margin:2px 10px 0px 0px ;
}
.detail{
    padding:2px;
    display:inline-block;
    float:left;
    width:80%;
}
b{
    color:#0294a5;
    
}
.srch{
    width:65%;
    color:black;
    padding:5px;
    margin:5px;
    border:1px solid #89b3c1;
}
.srch:focus{
    outline:0;
}

.employer_form{
    margin:5px;
    padding:5px;
    float:left;
    display:inline-block;
    width: 69%;
    height:530px;
}

.tab{
    width:100%;
    padding:5px;
    font-size:20px;
    display:block;
    height:50px;
}

.ginfo{
    float:left;
    display:inline-block;
    padding:13px;
    width:200px;
    color:white;
    margin-left:2px;
    border-right:groove;
    background-color:slategray; 
    cursor:pointer;
}
.cdetail{
    float:left;
    display:inline-block;
    padding:13px;
    width:150px;
    color:white;
    margin-left:2px;
    background-color:slategray;
    cursor:pointer;
}

.tab1{
    width:90%;
    height:480px;
    margin:5px 3px 0px 7px;
    float:left;
    display:inline-block;
    background-color:#F8F8FF;
     width:95%;
    height:90%;
    margin:20px;
    text-align:left;
    overflow:hidden;
}
.tab2{
    width:0%;
    height:480px;
    float:left;
    margin:5px 3px 0px 7px;
    display:inline-block;
    background-color:#F8F8FF; 
       text-align:left;
    overflow:hidden;
}
.tab3{
    width:100%;
    padding:5px;
    font-size:20px;
    height:50px;
    float:left;
    display:inline-block;
    clear:both;
}

.btn1{
    width: 15%;
    padding:5px;
    margin-left:20px;
    border:none;
    font-size:13px;
    background-color:#0294a5;
    color:white;
}
.tab1_data{
    width:95%;
    height:90%;
    margin:20px;
    text-align:left;
}

.tab2_data{
     width:95%;
    height:90%;
    margin:20px;
    text-align:left;
}


.tbl_emp{
    margin-left:30px;
    float:inherit;
}
.hdr{
    width:100%;
    text-align:center;
    background-color:#0294a5;
    color:white;
    padding:5px 0px 5px 0px;
    cursor:pointer;
    border:none;
    }
div::-webkit-scrollbar {
    width: 3px;
    border-color:#2381e9;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.gen_info {
    padding:5px;
    float:left;
    display:inline-block;
    color:black;
    margin-left:20px;
}
.c_details{
    float:left;
    display:inline-block;
    padding:5px;
    color:black;
    margin-left:20px;
}

.mon_table td{
    padding:1px;
    color:black;
    text-align:center;
    border:1px solid gray;
}
.mon_table thead td{
    background-color:#0294a5;
    color:white;
}
.chk_move{
    margin-left:100px;
}
.gen_info td{
   height:27px;
   min-width:140px;
}
.txt{
    width:160px;
    padding:3px;
    border:none;
    border-bottom:1px solid gray;
}
.txt_short{
    width: 64px;
    padding:3px;
    border:none;
    border-bottom:1px solid gray;
}
.txt:focus{
    outline: 0;
}
.txt_short:focus {
    outline: 0;
}
.cmb{
    width:170px;
    padding:4px;
    border:none;
    border-bottom:1px solid gray;
}
.cmb:focus{
    outline: 0;
}

.cmb_short{
     width:74px;
    padding:3px;
    border:none;
    background-color:#eaeffa;
    border-bottom:1px solid gray;
}
.cmb_short:focus {
    outline: 0;
}
/*plan form styles*/
.planinfo{
    width:69%;
    margin:5px;
    float:left;
    padding:5px;
    display:inline-block;
    height:540px;
    margin: 0 auto;
}
.plan_header{
    padding:5px; 
}
.plan_detail{
    width:94%;
    height:50px;
    margin:10px;
    padding:5px;
    border:1px solid gray;
}
.plan_table{
     width:94%;
     height:170px;
     margin:10px;
     padding:5px;
     border:1px solid gray;
     overflow-y:scroll;
}
.imgbtnplus{
    width:15px;
    height:15px;
    border:none;
    background-image:url('../icons/plus.png');
    background-repeat:no-repeat;
    background-size:15px;
    background-color:white;
}
.imgbtnminus{
    width:15px;
    height:15px;
    border:none;
    background-image:url('../icons/minus.png');
    background-repeat:no-repeat;
    background-size:15px;
    background-color:white;
}


/*Employee form begining*/
.employee_form{
    margin-left:5px;
    padding:3px;
    float:left;
    display:inline-block;
    width: 70%;
}
.employee_info1
{
    width:93%;
    float:left;
    margin:2px 0px 0px 15px;
    display:inline-block;
    height:190px;
    padding:5px;
}

.employee_info2
{
    width: 70%;
    margin: 5px 0px 0px 2px;
    display: inline-block;
    /*height: 214px;*/
    overflow-y: scroll;
    text-align: center;
}
.employee_info3
{
    width:100%;
    float:left;
    margin:15px 0px 0px 2px;
    display:inline-block;
    height:100px;
    overflow-y:auto;
    text-align:center;
}
.employee_info4 {
    width: 98%;
    float: left;
    padding-top:3px;
    margin:10px 0px 0px 2px;
    display: inline-block;
}
/*Employee form end*/

