body {
    width:100%;
    
}
#header
{
 position:absolute;
 top:0px;
 left:0px;
 right:0px;
 width:100%;
}
#leftSide
{
 position:absolute;
 left:0px;
 top:80px;
 /*bottom:50px;*/
 min-width:200px;
 min-height:530px;
}
/*#rightSide
{
 position:fixed;
 top:10%;
 right:0px;
 width:90%;
 bottom:5%;
 background-color:blue;
}*/
#footer
{
 position:absolute;
 height:50px;
 left:0px;
 right:0px;
 bottom:0px;
 background-color:greenyellow;
}
#content
{
 position:absolute;
 top:80px;
 left:200px;
 right:0px;
 /*bottom:50px;*/
 min-width:720px;
 min-height:230px;
 overflow:auto;
}
div {display:block;}
