html {
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  min-height: 100%;
  background: #eaf0f2;
  color: #777;
}


/* Container */
.container {
    z-index:1;
  position: absolute;
  padding:8px;
  width: 24em;
  left: 50%;
  top: 50%;
  border:1px solid gray;
  display:block;
  background-color:white;
  text-align:center;
  transform: translate(-50%,-50%);
  border-radius: .25rem;
  animation: intro .8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
 /* Intro animation */
@keyframes intro {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

/*logo*/
.logo{

}

/*input box*/
.txt{
    width:70%;
    height:30px;
    border:none;
    color:grey;
    padding:5px;
    margin-top:15px;
    border-bottom:1px solid gray;   
  }

.txt:focus {
  outline: 0;
  border-color: #ccc;
  enable-background:initial;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*button*/
.btn {
  border: 0;
  padding: 10px;
  color: white;
  width:120px;
  background: #0294A5;
  border-radius: .25rem;
  letter-spacing: .2em;
   
}
.btn:focus {
  outline: 0;
} 
/*Password forgot*/
.forget{
    color:#0294A5;
    float:right;
    font-size:12px;
    padding-top:20px;
    cursor:pointer;
}
.forget_form{
    z-index:1;
    height:11em;
    position: absolute;
    padding:8px;
    width: 23em;
    left: 50%;
    top: -50%;
    display:block;
    background-color:white;
    text-align:center;
    color:#0294A5;
    transform: translate(-50%,-40%);
    border-radius: .25rem;
}
.status{
    float:left;
}